<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Search term</th>
      <th>Recipe name</th>
      <th>Cuisine Type</th>
      <th>Diet type</th>
      <th>Total time</th>
      <th>Calories</th>
      <th>Carbohydrates</th>
      <th>Fat</th>
      <th>Protein</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>bread</td>
      <td>Easiest Ever Garlic Bread recipes</td>
      <td>american</td>
      <td>none</td>
      <td>3</td>
      <td>210</td>
      <td>37</td>
      <td>3</td>
      <td>8</td>
      <td><a href=http://www.simplyrecipes.com/recipes/easiest_ever_garlic_bread/><div>http://www.simplyrecipes.com/recipes/easiest_ever_garlic_bread/</div></a></td>
    </tr>
    <tr>
      <th>1</th>
      <td>bread</td>
      <td>Bread with Peanut Butter</td>
      <td>american</td>
      <td>none</td>
      <td>5</td>
      <td>176</td>
      <td>17</td>
      <td>9</td>
      <td>8</td>
      <td><a href=http://www.eatingwell.com/recipe/263538/bread-with-peanut-butter/><div>http://www.eatingwell.com/recipe/263538/bread-with-peanut-butter/</div></a></td>
    </tr>
    <tr>
      <th>2</th>
      <td>bread</td>
      <td>Salt beef on rye bread with mustard sauce</td>
      <td>american</td>
      <td>none</td>
      <td>10</td>
      <td>418</td>
      <td>15</td>
      <td>29</td>
      <td>25</td>
      <td><a href=https://www.bbcgoodfood.com/recipes/salt-beef-rye-bread-mustard-sauce><div>https://www.bbcgoodfood.com/recipes/salt-beef-rye-bread-mustard-sauce</div></a></td>
    </tr>
    <tr>
      <th>3</th>
      <td>bread</td>
      <td>Garlic Bread</td>
      <td>american</td>
      <td>none</td>
      <td>8</td>
      <td>1674</td>
      <td>192</td>
      <td>78</td>
      <td>53</td>
      <td><a href=https://www.foodnetwork.com/recipes/rachael-ray/garlic-bread-recipe-1951706><div>https://www.foodnetwork.com/recipes/rachael-ray/garlic-bread-recipe-1951706</div></a></td>
    </tr>
    <tr>
      <th>4</th>
      <td>bread</td>
      <td>Brown-Butter Bread Crumbs</td>
      <td>american</td>
      <td>none</td>
      <td>10</td>
      <td>670</td>
      <td>32</td>
      <td>59</td>
      <td>13</td>
      <td><a href=https://www.menshealth.com/recipes/brown-butter-bread-crumbs><div>https://www.menshealth.com/recipes/brown-butter-bread-crumbs</div></a></td>
    </tr>
    <tr>
      <th>5</th>
      <td>bread</td>
      <td>Bacon & Cheese Bread Omelet</td>
      <td>american</td>
      <td>none</td>
      <td>10</td>
      <td>1025</td>
      <td>32</td>
      <td>72</td>
      <td>61</td>
      <td><a href=https://www.delish.com/cooking/recipe-ideas/a32981740/bacon-cheese-bread-omelet-recipe/><div>https://www.delish.com/cooking/recipe-ideas/a32981740/bacon-cheese-bread-omelet-recipe/</div></a></td>
    </tr>
    <tr>
      <th>6</th>
      <td>bread</td>
      <td>Pressed Garlic Bread recipes</td>
      <td>american</td>
      <td>none</td>
      <td>10</td>
      <td>1783</td>
      <td>158</td>
      <td>115</td>
      <td>33</td>
      <td><a href=http://www.marthastewart.com/346116/pressed-garlic-bread><div>http://www.marthastewart.com/346116/pressed-garlic-bread</div></a></td>
    </tr>
    <tr>
      <th>7</th>
      <td>bread</td>
      <td>Brown shrimps on toast</td>
      <td>american</td>
      <td>none</td>
      <td>10</td>
      <td>654</td>
      <td>54</td>
      <td>27</td>
      <td>50</td>
      <td><a href=http://www.jamieoliver.com/recipes/seafood-recipes/brown-shrimps-on-toast/><div>http://www.jamieoliver.com/recipes/seafood-recipes/brown-shrimps-on-toast/</div></a></td>
    </tr>
    <tr>
      <th>8</th>
      <td>bread</td>
      <td>Nutella-Stracchino Grilled Sandwich recipes</td>
      <td>american</td>
      <td>none</td>
      <td>10</td>
      <td>2507</td>
      <td>210</td>
      <td>148</td>
      <td>84</td>
      <td><a href=http://www.tastingtable.com/cook/recipes/nutella-grilled-cheese-sandwich-recipe-joe-carroll><div>http://www.tastingtable.com/cook/recipes/nutella-grilled-cheese-sandwich-recipe-joe-carroll</div></a></td>
    </tr>
    <tr>
      <th>9</th>
      <td>bread</td>
      <td>Raisin Bread & Farmer's Cheese</td>
      <td>american</td>
      <td>none</td>
      <td>5</td>
      <td>290</td>
      <td>35</td>
      <td>10</td>
      <td>15</td>
      <td><a href=http://www.eatingwell.com/recipe/249321/raisin-bread-farmers-cheese/><div>http://www.eatingwell.com/recipe/249321/raisin-bread-farmers-cheese/</div></a></td>
    </tr>
  </tbody>
</table>